.song-item {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    list-style-type: none;
    width: 100%;
}

@media (max-width: 480px) {
    .song-item {
        padding: 12px;
        gap: 8px;
        width: 100%;
    }
}

.song-item:hover {
    background-color: #282828;
}

.song-item.active-track .song-title {
    color: var(--accent-primary);
}

.song-card-wrapper {
    position: relative;
    width: 100%;
}

.song-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.song-title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.song-artist {
    margin: 0;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
}

/* Custom Play Button Overlay */
.play-overlay {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 48px;
    height: 48px;
    background-color: var(--accent-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(8px);
    transition: all 0.3s ease;
    z-index: 10;
}

.song-item:hover .play-overlay {
    opacity: 1;
    transform: translateY(0);
}

.play-overlay svg {
    color: #000;
    margin-left: 2px;
    font-size: 20px;
}

.playing-bars {
    display: flex;
    align-items: flex-end;
    gap: 2px;
    height: 16px;
}

.playing-bars span {
    width: 3px;
    background-color: #000;
    animation: bounce 1s ease-in-out infinite;
}

.playing-bars span:nth-child(2) {
    animation-delay: 0.2s;
}

.playing-bars span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    100% {
        height: 4px;
    }

    50% {
        height: 16px;
    }
}